<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>

    <style>
        #body {
            width: 100%;
            height: 100vh;
        }

        #menu {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-image: url("//bizweb.dktcdn.net/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140");

        }

    </style>
</head>
<body>
<div id="body" class="card text-center">

    <div class="card-body">
        <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{resort}">Furama resort</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target
                            ="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer}">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/employee}">Employee</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Other
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/resort/facility}">Facility</a></li>
                                    <li><a class="dropdown-item" th:href="@{/contract}">Contract</a></li>
                                    <li><a class="dropdown-item" th:href="@{/booking}">Booking</a></li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex" action="/customer">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                                   name="keyword">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container-fluid text-center m-5">
                <a href="/contract/create" class="btn btn-outline-success">Create New contract</a>
            </div>
            <div class="container">

                <table class="table table-dark table-striped">
                    <tr>
                        <td>#</td>
                        <td>SERVICE</td>
                        <td>CUSTOMER</td>
                        <td>STAR DAY</td>
                        <td>END DAY</td>
                        <td>DEPOSIT</td>
                        <td>TOTAL</td>
                        <td colspan="2">OTHER SERVICE </td>
                    </tr>
                    <tr th:each="contract, loop:${contractList}">
                        <td th:text="${loop.count}"></td>
                        <td th:text="${contract.facility.nameFacility}"></td>
                        <td th:text="${contract.customer.nameCustomer}"></td>
                        <td th:text="${contract.startDate}"></td>
                        <td th:text="${contract.endDate}"></td>
                        <td th:text="${contract.deposit}"></td>
                        <td th:text="${contract.totalMoney}"></td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success " data-bs-toggle="modal"
                            th:attr="data-bs-target='#exampleModalCreate'+${contract.id}">
                                +
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" th:attr="id='exampleModalCreate'+${contract.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="color: brown" class="modal-title" id="exampleModalLabel1">create
                                                contract Detail</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="color: green">

                                            <form action="/contract/saveContractDetail" method="post" th:object="${contractDetail}">

                                                <div class="row">
                                                    <div class="container">
                                                        <div class="form-outline mb-4">
                                                            <input th:value="${contract.id}" type="text" class="form-control"/>
                                                        </div>
                                                        <div class="form-outline mb-4">
                                                            <input th:field="*{contract.id}" type="text" class="form-control"/>
                                                        </div>

                                                        <div class="form-outline mb-4">
                                                            <label class="form-label">Quantity</label>
                                                            <input th:field="*{quantity}" type="text" class="form-control"/>
                                                        </div>

                                                        <div class="form-outline mb-4">
                                                            <label class="form-label">Attach Facility</label>

                                                            <select class="form-select" aria-label="Default select example" th:field="*{attachFacility}">
                                                                <option value="1">karaoke</option>
                                                                <option value="2">thuê xe máy</option>
                                                                <option value="3">tay vịn</option>
                                                                <option value="4">hồ bơi</option>
                                                            </select>

                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">

                                                        <a> <button type="submit" class="btn btn-success ">save</button> </a>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>




<!--                                            <div>-->
<!--                                                <p style="color: red" id="pError"></p>-->
<!--                                            </div>-->

<!--                                            <div class="form-outline mb-4">-->
<!--                                                <input type="text" id="inputQuantity" class="form-control"/>-->
<!--                                                <label class="form-label" for="inputQuantity">Quantity</label>-->
<!--                                            </div>-->
<!--                                            <div class="form-outline mb-4">-->

<!--                                            <select id="inputAttachFacility" class="form-control mb-4">-->
<!--                                                <option value="1">karaoke</option>-->
<!--                                                <option value="2"> thuê xe máy</option>-->
<!--                                            </select>-->
<!--                                                <label class="form-label" for="inputQuantity">Attach Facility</label>-->

<!--                                            </div>-->
<!--                                            <div class="form-outline mb-4">-->
<!--                                                <input type="text" id="inputContract" class="form-control"/>-->
<!--                                                <label class="form-label" for="inputContract">Contract Id</label>-->
<!--                                            </div>-->

<!--                                            <a href="/contract_detail_restful/create">-->
<!--                                                <button id="btnCreate" type="button" class="btn btn-primary btn-block bg-momo">-->
<!--                                                    Create-->
<!--                                                </button>-->
<!--                                            </a>-->

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>

                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                danh sách các dịch vụ đi kèm
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="color: green">
                                        <table>
                                            <tr th:each="contractDetail: ${contractDetailList} ">
                                                <td th:text="${contractDetail.attachFacility.nameAttach}"></td>
                                            </tr>
                                        </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <a>
                                                <button class="btn btn-success ">delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

                <div>
                    <h3>
                        <a th:if="${contractList.hasPrevious()}"
                           th:href="@{/contract/(page=${contractList.number - 1} , keyword= ${keywordVal})}">
                            <i  style="color: black" class="fa-solid fa-backward"></i>
                        </a>
                        <span th:text="${contractList.number +1}"></span>
                        /
                        <span th:text="${contractList.totalPages}"></span>
                        <a th:if="${contractList.hasNext()}"
                           th:href="@{/contract/(page=${contractList.number + 1} , keyword= ${keywordVal})}">
                            <i style="color: black" class="fa-solid fa-forward"></i>
                        </a>
                    </h3>


                </div>

            </div>
        </div>

    </div>


    <div class="card-footer text-muted">
        ToNgPhUc@gmail.com
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--<script>-->
<!--    $("#btnCreate").click(function () {-->
<!--        let quantity = $("#inputQuantity").val();-->
<!--        let nameAttach = $("#inputAttachFacility").val();-->
<!--        let contract = $("#inputContract").val();-->

<!--        console.log(quantity + " " + nameAttach + " " + contract);-->

<!--        let contratDetail = {-->
<!--            quantity: quantity,-->
<!--            attachFacility:{-->
<!--                id: nameAttach-->
<!--            } ,-->
<!--            contract:contract-->
<!--        }-->
<!--        $.ajax({-->
<!--            headers: {-->
<!--                'Accept': 'application/json',-->
<!--                'Content-Type': 'application/json'-->
<!--            },-->
<!--            type: "POST", //GET, DELETE, PUT...-->
<!--            url: "http://localhost:8080/contract_detail_restful/create",-->
<!--            data: JSON.stringify(contratDetail),-->
<!--            success: function (resultSuccess) {-->
<!--                console.log(resultSuccess);-->
<!--            },-->
<!--            error: function (resultError) {-->
<!--                console.log('Co loi xay ra');-->
<!--            }-->
<!--        });-->

<!--        console.log(contratDetail);-->

<!--    });-->
<!--</script>-->

</body>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</html>

