<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>

    <style>
        #body{
            width: 100%;
            height:100vh;
        }
        #menu {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-image: url("//bizweb.dktcdn.net/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140");

        }

    </style>
</head>
<body>
<div id="body" class="card text-center">

    <div class="card-body">
        <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/resort}">Furama </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer}">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/employee}">Employee</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Other
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/resort/facility}">Facility</a></li>
                                    <li><a class="dropdown-item" th:href="@{/contract}">Contract</a></li>
                                    <li><a class="dropdown-item" th:href="@{booking}">Booking</a></li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex"action="/customer/">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"name="keyword" th:value="${keywordVal}">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container text-center m-5">
                <a href="/customer/create" class="btn btn-outline-success">Create New customer</a>
            </div>
            <div  class="container">

                <div class="row">
                    <table class="table table-dark table-striped" >
                        <tr>
                            <td>STT</td>
                            <td>ID</td>
                            <td>NAME</td>
                            <td>DATE OF BIRTH</td>
                            <td>GENDER</td>
                            <td>ID CARD</td>
                            <td>PHONE NUMBER</td>
                            <td>EMAIL</td>
                            <td>ADDRESS</td>
                            <td>CUSTOMER TYPE NAME</td>
                            <td>EDIT</td>
                            <td>DELETE</td>

                        </tr>


                        <tr th:each="customer, loop :  ${customerList}">
                            <td th:text="${loop.count}"></td>
                            <td th:text="${customer.id}"></td>
                            <td th:text="${customer.nameCustomer}"></td>
                            <td th:text="${customer.dateOfBirth}"></td>
                            <td th:if="${customer.gender==1}">nam</td>
                            <td th:if="${customer.gender==0}">nữ</td>
                            <td th:text="${customer.idCard}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.customerType.nameCustomerType}"></td>
                            <td><a th:href="@{/customer/{id}/edit(id=${customer.id})}">
                                <button class="btn btn-success ">edit</button></a>
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                        th:data-bs-target=" '#exampleModal' + ${customer.id}">
                                    delete
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" th:id="exampleModal  + ${customer.id}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="color: brown" class="modal-title" id="exampleModalLabel">delete customer</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body" style="color: green">
                                                bạn có muốn xóa <span th:text="${customer.customerType.nameCustomerType}"></span> với id
                                                = <span
                                                    th:text="${customer.id}"></span> ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                                </button>
                                                <a th:href="@{/customer/{id}/delete(id=${customer.getId()})}">
                                                    <button class="btn btn-success ">delete</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <a th:if="${customerList.hasPrevious()}"
                       th:href="@{/customer/(page=${customerList.number - 1} , keyword= ${keywordVal})}">
                        <button>Previous</button>
                    </a>
                    <span th:text="${customerList.number +1}"></span>
                    /
                    <span th:text="${customerList.totalPages}"></span>
                    <a th:if="${customerList.hasNext()}"
                       th:href="@{/customer/(page=${customerList.number + 1} , keyword= ${keywordVal})}">
                        <button>next</button>
                    </a>
                </div>

            </div>
        </div>

    </div>


    <div class="card-footer text-muted">
        ToNgPhUc@gmail.com
    </div>
</div>


</body>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</html>

