<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>

    <style>
        #body{
            width: 100%;
            height:100vh;
        }
        #menu {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-image: url("//bizweb.dktcdn.net/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140");

        }
    </style>
</head>
<body>
<div id="body" class="card text-center">

    <div class="card-body">
        <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/resort}">Furama </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/customer}">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/employee}">Employee</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Other
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" th:href="@{/resort/facility}">Facility</a></li>
                                    <li><a class="dropdown-item"  th:href="@{/contract}">Contract</a></li>
                                    <li><a class="dropdown-item" href="#">Booking</a></li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex"action="/resort/facility">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"name="keyword" th:value="${keywordVal}">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <div class="container text-center m-5">
                <a href="/resort/create" class="btn btn-outline-success">Create New Facility</a>
            </div>
            <div class="container">

                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <td>STT</td>
                        <td>Name</td>
                        <td>Area Facility</td>
                        <td>Cost</td>
                        <td>Max People</td>
                        <td>Name Rent Type</td>
                        <td>name Facility Type</td>
                        <td>Standard Room</td>
                        <td>Pool Area</td>
                        <td>number Of Floors</td>
                        <td>edit</td>
                        <td>delete</td>


                    </tr>
                    </thead>
                    <thead>
                    <tr th:each="facility :  ${facilityList}">

                        <td th:text="${facility.id}"></td>
                        <td th:text="${facility.nameFacility}"></td>
                        <td th:text="${facility.areaFacility}"></td>
                        <td th:text="${facility.costFacility}"></td>
                        <td th:text="${facility.maxPeople}"></td>
                        <td th:text="${facility.rentType.nameRentType}"></td>
                        <td th:text="${facility.facilityType.nameFacilityType}"></td>
                        <td th:text="${facility.standardRoom}"></td>
                        <td th:text="${facility.poolArea}"></td>
                        <td th:text="${facility.numberOfFloors}"></td>
                        <td><a th:href="@{/resort/{id}/edit(id=${facility.getId()})}">
                            <button class="btn btn-success ">edit</button>
                        </a></td>
                        <td>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                    th:data-bs-target=" '#exampleModal' + ${facility.id}">
                                delete
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" th:id="exampleModal  + ${facility.id}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="color: green" class="modal-title" id="exampleModalLabel">Delete Facility</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="color: green">
                                            bạn có muốn xóa <span th:text="${facility.facilityType.nameFacilityType}"></span> với id
                                            = <span
                                                th:text="${facility.id}"></span> ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                            </button>
                                            <a th:href="@{/resort/{id}/delete(id=${facility.getId()})}">
                                                <button class="btn btn-success ">delete</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </thead>
                    </tbody>
                </table>

                <div style="float: right">
                    <h3>
                        <a th:if="${facilityList.hasPrevious()}"
                           th:href="@{/resort/facility/(page=${facilityList.number - 1} , keyword= ${keywordVal})}">
                            <i  style="color: green" class="fa-solid fa-backward"></i>
                        </a>
                        <span th:text="${facilityList.number +1}"></span>
                        /
                        <span th:text="${facilityList.totalPages}"></span>
                        <a th:if="${facilityList.hasNext()}"
                           th:href="@{/resort/facility/(page=${facilityList.number + 1} , keyword= ${keywordVal})}">
                            <i style="color: green" class="fa-solid fa-forward"></i>
                        </a>
                    </h3>

                </div>


            </div>
        </div>

    </div>

    <div class="card-footer text-muted">
ToNgPhUc@gmail.com
    </div>
</div>


</body>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</html>

