<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        Phúc Xo


    </title>


    <!-- ================= Page description ================== -->

    <meta name="description" content=""/>

    <!-- ================= Meta ================== -->


    <meta name="keywords" content="bizweb theme, theme du lịch, travel theme, avent team, bizweb, dkt"/>


    <link rel="canonical" href="https://travel-theme.mysapo.net/"/>
    <meta name='revisit-after' content='1 days'/>
    <meta name="robots" content="noodp,index,follow"/>
    <!-- ================= Favicon ================== -->

    <link rel="icon" href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/favicon.png?1649413074140"
          type="image/x-icon"/>


    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/base.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/style.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/update.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/module.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/responsive.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/travel.scss.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/owl.carousel.min.css?1649413074140">
    <link rel="preload" as="style" type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/swiper.min.css?1649413074140">
    <link rel="preload" as='style' type="text/css"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/header.scss.css?1649413074140">
    <link rel="preload" as="style"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/bootstrap.css?1649413074140" type="text/css">
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/swiper.min.css?1649413074140" rel="stylesheet"
          type="text/css"/>


    <!-- Facebook Open Graph meta tags -->


    <meta property="og:type" content="website">
    <meta property="og:title" content="Theme du lịch BizTravel">
    <meta property="og:image"
          content="http://bizweb.dktcdn.net/100/033/603/themes/852890/assets/logo-header.png?1649413074140">
    <meta property="og:image:secure_url"
          content="https://bizweb.dktcdn.net/100/033/603/themes/852890/assets/logo-header.png?1649413074140">

    <meta property="og:description" content="">
    <meta property="og:url" content="https://travel-theme.mysapo.net/">
    <meta property="og:site_name" content="BizTravel">

    <!-- Plugin CSS -->


    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/header.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/bootstrap.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <!-- Build Main CSS -->
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/base.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/travel.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/style.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/update.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/module.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>
    <link href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/responsive.scss.css?1649413074140" rel="stylesheet"
          type="text/css"/>


    <!-- Header JS -->
    <!-- Bizweb javascript customer -->


    <!-- Bizweb conter for header -->
    <script>
        var Bizweb = Bizweb || {};
        Bizweb.store = 'travel-theme.mysapo.net';
        Bizweb.id = 33603;
        Bizweb.theme = {'id': 852890, 'name': "Travel 25-03-2022", 'role': 'main'};
        Bizweb.template = 'index';
        if (!Bizweb.fbEventId) Bizweb.fbEventId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    </script>
    <script>
        (function () {
            function asyncLoad() {
                var urls = [];
                for (var i = 0; i < urls.length; i++) {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = urls[i];
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
            };
            window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
        })();
    </script>


    <script>
        window.BizwebAnalytics = window.BizwebAnalytics || {};
        window.BizwebAnalytics.meta = window.BizwebAnalytics.meta || {};
        window.BizwebAnalytics.meta.currency = 'VND';
        window.BizwebAnalytics.tracking_url = '/s';

        var meta = {};


        for (var attr in meta) {
            window.BizwebAnalytics.meta[attr] = meta[attr];
        }
    </script>


    <script src="/dist/js/stats.min.js?v=ed6e8e3"></script>


    <link rel="preload" as="script"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/swiper.min.js?1649413074140"/>
    <script src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/swiper.min.js?1649413074140"
            type="text/javascript"></script>
    <link rel="preload" as="script"
          href="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/plugin_main.js?1649413074140"/>
    <script src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/plugin_main.js?1649413074140"
            type="text/javascript"></script>
    <script>
        $(document).ready(function ($) {
            awe_lazyloadImage();
        });

        function awe_lazyloadImage() {
            var ll = new LazyLoad({
                elements_selector: ".lazyload",
                load_delay: 100,
                threshold: 0
            });
        }

        window.awe_lazyloadImage = awe_lazyloadImage;
    </script>

</head>


<body>
<!-- Main content -->
<header class="header">


    <div class="header_bar">
        <div class="container">
            <div class="menu-bar hidden-md hidden-lg">

                <i class=" fa fa-bars fa-lg"></i>
            </div>
            <div class="header-main">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="logo">

                            <a href="/" class="logo-wrapper dp-flex">
                                <img src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/logo-header.png?1649413074140"
                                     alt="logo BizTravel">
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <nav>
                            <ul id="nav" class="nav f-right">


                                <li class="nav-item active"><a class="nav-link" th:href="@{resort}">Home</a></li>


                                <li class="nav-item "><a class="nav-link" th:href="@{/employee}">Employee</a></li>


                                <li class="nav-item "><a class="nav-link" th:href="@{/customer}">Customer</a></li>


                                <li class="nav-item "><a class="nav-link" th:href="@{/resort/facility}">facility</a>
                                </li>

                                <li class="nav-item "><a class="nav-link" th:href="@{contract}">Contract</a></li>

                                <li class="nav-item ">
                                    <a href="/collections/all" class="nav-link">
                                        <span>Product</span>
                                        <i class="fa fa-angle-down" data-toggle="dropdown"></i>
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/du-lich-chau-a">
                                                <span>Du lịch Châu Á</span>

                                            </a>

                                        </li>

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/du-lich-chau-au">
                                                <span>Du lịch Châu Âu</span>

                                            </a>

                                        </li>

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/du-lich-trong-nuoc">
                                                <span>Du lịch trong nước</span>

                                            </a>

                                        </li>

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/du-lich-trai-nghiem">
                                                <span>Du lịch trải nghiệm</span>

                                            </a>

                                        </li>

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/tour-trang-mat">
                                                <span>Tour trăng mật</span>

                                            </a>

                                        </li>

                                        <li class="dropdown-submenu nav-item-lv2">
                                            <a class="nav-link" href="/ve-may-bay">
                                                <span>Vé máy bay</span>

                                            </a>

                                        </li>


                                    </ul>
                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<h1 class="hidden">BizTravel - </h1>


<section class="awe-section-1">
    <div class="home-slider swiper-container">
        <div class="swiper-wrapper">


            <div class="item swiper-slide">
                <a href="#" class="clearfix">
                    <picture>
                        <source media="(max-width: 480px)"
                                srcset="//bizweb.dktcdn.net/thumb/large/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140">
                        <source media="(min-width: 481px) and (max-width: 600px)"
                                srcset="//bizweb.dktcdn.net/thumb/grande/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140">
                        <source media="(min-width: 601px) and (max-width: 1023px)"
                                srcset="//bizweb.dktcdn.net/thumb/1024x1024/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140">
                        <source media="(min-width: 1024px) and (max-width: 1199px)"
                                srcset="//bizweb.dktcdn.net/thumb/2048x2048/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140">
                        <source media="(min-width: 1200px)"
                                srcset="//bizweb.dktcdn.net/thumb/2048x2048/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140">
                        <img class="lazyload"
                             src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140"
                             alt="BizTravel">
                    </picture>
                </a>
            </div>


        </div>
    </div>

    <script>
        var swiper = new Swiper('.home-slider', {
            autoplay: {
                delay: 4500,
                disableOnInteraction: false
            },
        });
    </script>
</section>


<section class="awe-section-2">
    <div class="main-service hidden-xs lazyload"
         data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_background_image.png?1649413074140">
        <div class="container">
            <div class="row">
                <div class="swiper_service swiper-container">
                    <div class="swiper-wrapper">


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_1.png?1649413074140"
                                 alt="Hành trình">
                            <h4 class="heading-service">Journeys</h4>
                        </div>


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_2.png?1649413074140"
                                 alt="Cao cấp">
                            <h4 class="heading-service">High-class</h4>
                        </div>


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_3.png?1649413074140"
                                 alt="Tuần Trăng mật">
                            <h4 class="heading-service">
                                Honeymoon</h4>
                        </div>


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_4.png?1649413074140"
                                 alt="Khám phá">
                            <h4 class="heading-service">
                                Discover</h4>
                        </div>


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_5.png?1649413074140"
                                 alt="Sinh thái">
                            <h4 class="heading-service">Ecological</h4>
                        </div>


                        <div class="item swiper-slide">
                            <img class="lazyload"
                                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"
                                 data-src="//bizweb.dktcdn.net/100/033/603/themes/852890/assets/service_image_6.png?1649413074140"
                                 alt="Đi biển">
                            <h4 class="heading-service">
                                Go on beach</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var swiper = new Swiper('.swiper_service', {
            slidesPerView: 6,
            spaceBetween: 0,
            slidesPerGroup: 1,
            breakpoints: {
                300: {
                    slidesPerView: 2,
                    spaceBetween: 0
                },
                500: {
                    slidesPerView: 2,
                    spaceBetween: 0
                },
                640: {
                    slidesPerView: 2,
                    spaceBetween: 0
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 0
                },
                992: {
                    slidesPerView: 6,
                    spaceBetween: 0
                },
                1200: {
                    slidesPerView: 6,
                    spaceBetween: 0
                }
            }
        });
    </script>
</section>

</body>
</html>