
<div id="menu" class="container-fluid">
  <div class="container text-center ">
    <a href="/customer/create" class="btn btn-outline-success">Create New Facility</a>
  </div>
  <table class="table">
    <tr>
      <td>STT</td>
      <td>NAME</td>
      <td>AREA</td>
      <td>COST</td>
      <td>MAX PEOPLE</td>
      <td>NAME RENT TYPE</td>
      <td>NAME FACILITY TYPE</td>
      <td>STANDARD ROOM</td>
      <td>POOL AREA</td>
      <td>NUMBER OF FLOORS</td>
      <td>EDIT</td>
      <td>DELETE</td>
    </tr>
    <tr>
      <td>1</td>
      <td>Lê Văn phúc</td>
      <td>1000</td>
      <td>100</td>
      <td>10</td>
      <td>Year</td>
      <td>Villa</td>
      <td>Vip</td>
      <td>100</td>
      <td>10</td>

      <td><a>
        <button class="btn btn-primary">edit</button>
      </a></td>

      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
          Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="button" class="btn btn-primary">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <div id="page" class="d-flex justify-content-end ">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>

