<div id="menu">

  <div id="padding" class="container text-center ">
    <a [routerLink]="['/create-san-pham']" class="btn btn-success">Thêm Sản Phẩm</a>
  </div>

  <div class="container ">
    <div class="row">
      <table id="table" class="table table-striped">
        <thead>
        <tr>
          <td>Mã Sản Phẩm</td>
          <td>Tên Sản Phẩm</td>
          <td>Giá</td>
          <td>Ngày Nhập</td>
          <td>Xuất Xứ</td>
          <td>Tác Giả</td>
          <td>Thể Loại</td>
          <td>Tình Trạng</td>

          <td>Action</td>

        </tr>
        </thead>
        <thead>
        <!--        phan trang -->
        <!--        | paginate:{itemsPerPage: 2, currentPage: p};-->

        <!--<div class="d-flex justify-content-end container " style="color: black">-->
        <!--  <pagination-controls (pageChange)="p = $event"></pagination-controls>-->
        <!--</div>-->
        <tr *ngFor="let item of sanPhamList | paginate:{itemsPerPage: 4, currentPage: p}; index as i ">
          <td>{{item.maSanPham}}</td>

          <td>{{item.tenSanPham}}</td>
          <td>{{item.gia}}</td>
          <td>{{item.ngayNhap}}</td>
          <td>{{item.xuatXu}}</td>

          <td>{{item.tacGia }}</td>
          <td>{{item.theLoai}}</td>
          <td>{{item.tinhTrang}}</td>
          <td>
            <!-- Button trigger modal -->
            <button class="btn-danger" type="button" id="iconDelete" data-bs-toggle="modal"
                    [attr.data-bs-target]="'#exampleModal'+item.id">
              <i class="fa-solid fa-trash-can"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{item.id}}" tabindex="-1"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 style="color: sandybrown" class="modal-title" id="exampleModalLabel">XÓA SẢN PHẨM</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div style="color: brown" class="modal-body">
                    bạn có muốn xóa sản phẩm có tên là : <span>{{item.tenSanPham}} không ?</span>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Không
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="deleteSanPham(item.id)">Có
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

</div>
<div class="d-flex justify-content-end container "style="color: black">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<!--  PhucLv  thư viện lấy icon-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">






