

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
    <style>
        #menu {
            width: 100%;
            height: 800px;
            background: url("https://asiky.com/files/images/Article/asiky-website-khach-san/chiem-nguong-ve-dep-cua-khach-san-7-sao.jpg")
        }
    </style>
</head>
<body>
<div  id="menu" class="col-lg-12">
    <div class="container">

        <form th:action="@{/product/delete}"method="post" th:object="${product}">

            <div class="mb-3 mt-3">
                <input type="hidden" class="form-control"  placeholder="Enter name product "
                       th:field="*{idProduct}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">Name Product:</label>
                <input type="text" class="form-control"  placeholder="Enter name product "
                       th:field="*{nameProduct}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">price Product: </label>
                <input type="text" class="form-control" placeholder="Enter price Product"
                       th:field="*{priceProduct}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">describe Product: </label>
                <input type="text" class="form-control" placeholder="Enter describe Product "
                       th:field="*{describeProduct}">
            </div>

            <div class="mb-3 mt-3">
                <label class="form-label">producer Product </label>
                <input type="text" class="form-control" placeholder="Enter producer Product "
                       th:field="*{producerProduct}">
            </div>


            <button type="submit" class="btn btn-primary">delete</button>
            <a href="/product/" class="btn btn-info">Back to List</a>
        </form>

        <div class="alert alert-success" role="alert" th:if="${success}">
            <div th:text="${success}"></div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</html>