
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/furama']"><img id="logoFurama"
                                                           src="https://img.freepik.com/premium-vector/palm-realestate-logo_8050-36.jpg?w=2000"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/customer-list']" >Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/customer-user-facility']">customer-facility</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contract-list']">Contract</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Other
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/facility-list']">Facility</a></li>
            <li><a class="dropdown-item"[routerLink]="['/employee-list']">Employee</a></li>
            <li><a class="dropdown-item" href="@{/contract}">Plane ticket</a></li>
            <li><a class="dropdown-item" href="@{/employee}">Spaceship</a></li>

          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

