<div id="body" class="card text-center">
  <div id="menu">
    <div class="container mt-4">
      <div class="row w-50 mx-auto">
        <div id="row" class="row">
          <h2>Sửa Lô Hàng</h2>
          <form [formGroup]="formLoHang" (ngSubmit)="editLoHang(id)"*ngIf="formLoHang">
            <div class="row">
              <div class="container">
                <div class="form-outline mb-4">
                  <label class="form-label">Mã Lô Hàng </label>
                  <input type="text" formControlName="maLoHang" name="maLoHang" class="form-control"/>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label">sản Phẩm</label>
                  <select formControlName="sanPham" name="sanPham" class="form-select"
                          aria-label="Default select example">
                    <option *ngFor="let item of sanPham" [ngValue]="item">{{item.tenSanPham}}</option>
                  </select>

                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Số Lượng</label>
                  <input type="text" formControlName="soLuong" name="soLuong" class="form-control"/>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label">Ngày Nhập Hàng</label>
                  <input type="date" formControlName="ngayNhapHang" name="ngayNhapHang" class="form-control"/>

                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Ngày Sản Xuất</label>
                  <input type="date" formControlName="ngaySanXuat" name="ngaySanXuat" class="form-control"/>
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Ngày Hết Hạn</label>
                  <input type="date" formControlName="ngayHetHan" name="ngayHetHan" class="form-control"/>
                </div>


              </div>


              <!---------------------------->

            </div>
            <button type="submit" class="btn btn-primary btn-block bg-momo">
              sửa
            </button>
            <a [routerLink]="['/lo-hang-list']">
              <button type="button" class="btn btn-primary btn-block bg-momo">
                Trở Lại
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
