<div id="body" class="card text-center">
  <div id="menu">
    <div class="container mt-4">
      <div class="row w-50 mx-auto">
        <div class="row">
          <h2>Edit facility</h2>
          <form [formGroup]="facilityForm" (ngSubmit)="editFacility()">
            <div class="form-outline mb-4">
              <input class="form-control" type="hidden"/>
            </div>
            <div class="row">

              <div class="col-6">
                <div class="form-outline mb-4">
                  <label class="form-label">Name Facility</label>
                  <input type="text" class="form-control" formControlName="nameFacility" name="nameFacility"/>
                  <p style="color:red;"
                     *ngIf="facilityForm.controls.nameFacility.hasError('required')&&facilityForm.controls.nameFacility.touched">
                    không được để trống
                  </p>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Area Facility</label>
                  <input type="text" class="form-control" formControlName="costFacility" name="areaFacility"/>
                  <p style="color:red;"
                     *ngIf="facilityForm.controls.costFacility.hasError('required')&&facilityForm.controls.nameFacility.touched">
                    không được để trống
                  </p>
                  <p style="color:red;"
                     *ngIf="facilityForm.controls.costFacility.hasError('pattern')&&facilityForm.controls.nameFacility.touched">
                    không được chứa số
                  </p>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Cost Facility</label>
                  <input type="text" class="form-control" formControlName="costFacility" name="costFacility"/>
                  <p style="color:red;"
                     *ngIf="facilityForm.controls.costFacility.hasError('required')&&facilityForm.controls.costFacility.touched">
                    không được để trống
                  </p>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Max People</label>
                  <input type="text" class="form-control" formControlName="maxPeople" name="maxPeople"/>
                  <p style="color:red;"
                     *ngIf="facilityForm.controls.maxPeople.hasError('required')&&facilityForm.controls.maxPeople.touched">
                    không được để trống
                  </p>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Name Rent Type</label>
                  <select class="form-select" aria-label="Default select example" formControlName="rentType"
                          name="rentType">
                    <option>năm</option>
                    <option>tháng</option>
                    <option>ngày</option>
                    <option>giờ</option>
                  </select>
                </div>


              </div>

              <!---------------------------->

              <div class="col-6">
                <!--                                tạo sự kiện onchange getForm để tạo fusition-->

                <div class="form-outline mb-4">
                  <label class="form-label">Name Facility Type</label>
                  <select id="selectType" class="form-select"
                          aria-label="Default select example" onchange="getForm()"
                          formControlName="facilityType" name="facilityType">
                    <option>villa</option>
                    <option>house</option>
                    <option>room</option>
                  </select>
                </div>
                <div id="room-facility">

                  <div class="form-outline mb-4">
                    <label class="form-label">Facility Free</label>
                    <input type="text" class="form-control" formControlName="facilityFree" name="facilityFree"/>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.facilityFree.hasError('required')&&facilityForm.controls.facilityFree.touched">
                      không được để trống
                    </p>
                  </div>

                </div>

                <div id="villa-facility" style="display: none">
                  <div class="form-outline mb-4">
                    <label class="form-label">Pool Area</label>
                    <input type="text" class="form-control" formControlName="poolArea" name="poolArea"/>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.poolArea.hasError('required')&&facilityForm.controls.poolArea.touched">
                      không được để trống
                    </p>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.poolArea.hasError('pattern')&&facilityForm.controls.poolArea.touched">
                      phải là số nguyên dương
                    </p>
                  </div>
                </div>

                <div id="house-facility" style="display: none">
                  <div class="form-outline mb-4">
                    <label class="form-label">Kind of room</label>
                    <input type="text" class="form-control" formControlName="kindOfRoom"
                           name="descriptionOtherConvenience"/>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.kindOfRoom.hasError('required')&&facilityForm.controls.kindOfRoom.touched">
                      không được để trống
                    </p>

                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Description Other Convenience</label>
                    <input type="text" class="form-control" formControlName="descriptionOtherConvenience"
                           name="descriptionOtherConvenience"/>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.descriptionOtherConvenience.hasError('required')&&facilityForm.controls.descriptionOtherConvenience.touched">
                      không được để trống
                    </p>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label">Number Of Floors</label>
                    <input type="text" class="form-control" formControlName="numberOfFloors" name="numberOfFloors"/>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.numberOfFloors.hasError('required')&&facilityForm.controls.numberOfFloors.touched">
                      không được để trống
                    </p>
                    <p style="color:red;"
                       *ngIf="facilityForm.controls.numberOfFloors.hasError('pattern')&&facilityForm.controls.numberOfFloors.touched">
                      phải là số nguyên dương
                    </p>
                  </div>

                </div>


              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block bg-momo">
              edit
            </button>

            <a [routerLink]="['/facility-list']">
              <button type="button" class="btn btn-primary btn-block bg-momo">
                Back To List
              </button>
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

  function getForm() {
    let valueSelectType = $('#selectType').val();
    if (valueSelectType === '3') {
      $('#room-facility').show();
      $('#villa-facility').hide();
      $('#house-facility').hide();
    }
    if (valueSelectType === '2') {
      $('#house-facility').show();
      $('#room-facility').hide();
      $('#villa-facility').hide();
    }
    if (valueSelectType === '1') {
      $('#villa-facility').show();
      $('#house-facility').show();
      $('#room-facility').hide();
    }
  }

</script>
