<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        #body {
            width: 100%;
            height: 100vh;
        }

        #menu {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-image: url("//bizweb.dktcdn.net/100/033/603/themes/852890/assets/slider_1.jpg?1649413074140");

        }
    </style>
</head>
<body>
<div id="body" class="card text-center">

    <div class="card-body">
        <div id="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="@{resort}">Furama resort</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="@{/customer}">Customer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@{/employee}">Employee</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Other
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="@{/resort/facility}">Facility</a></li>
                                    <li><a class="dropdown-item" href="@{/contract}">Contract</a></li>
                                    <li><a class="dropdown-item" href="#">Booking</a></li>
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex" action="/contractDetail/">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <!--            <div class="container text-center m-5">-->
            <!--                <a href="/resort/create" class="btn btn-outline-success">Create New Facility</a>-->
            <!--            </div>-->
            <div class="container">

                <table class="table table-dark table-striped">
                    <tr>
                        <td>STT</td>
                        <td>QUANTITY</td>
                        <td>ATTACH FACILITY</td>
                        <td>CUSTOMER NAME</td>
                    </tr>
                    <tbody id="bodyContractDetail">
                    </tbody>

                </table>

            </div>
            <nav aria-label="..." class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" id="aPrevious">Previous</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" id="pageNumber">1/2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" id="aNext">Next</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
<div class="card-footer text-muted">
    ToNgPhUc@gmail.com
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function getPageContractDetail(pageNumber) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "http://localhost:8080/contract_detail_restful/?page=" + pageNumber,
            success: function (contractDetail) {
                let contractDetailHTML = "";
                for (let i = 0; i < contractDetail.content.length; i++) {
                    contractDetailHTML += `<tr>
                                        <td> ${contractDetail.content[i].id}</td>
                                        <td> ${contractDetail.content[i].quantity}</td>
                                        <td> ${contractDetail.content[i].attachFacility.nameAttach}</td>
                                        <td> ${contractDetail.content[i].contract.customer.nameCustomer}</td>
                                        </tr>`;
                }

                $("#bodyContractDetail").html(contractDetailHTML);
            },
            error: function (resultError) {
                console.log("danh sách không được trống")
            }

        })
    }    getPageContractDetail(0);
    let pageCur = 0;
    $("#aPrevious").click(function () {
        if (pageCur > 0) {
            pageCur--;
            getPageContractDetail(pageCur)
        } else {
            alert("không có trang trước")
        }
    })

    $("#aNext").click(function () {
        pageCur++
        getPageContractDetail(pageCur);
    })

</script>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"

        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>

